<template>
    <div class=" row">
        <div class="card col-sm-4"  v-bind:key="note.id" v-for="(note)  in notes">
            <div class="card-body " >
                <h5>{{note.header}}</h5>
                <p>{{note.textArea}}</p>

            </div>
        </div>
    </div>

</template>

<script>

    export default {
        name: 'Note',
        props: {
            notes: Array
        },

    }
</script>

<style scoped>

</style>