<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-row class="">
      <ion-col offset-sm="2">

        <img src="../../assets/HOMEPAGE.png"/></ion-col>

    </ion-row>

  <app-explore-container name="Home"></app-explore-container>
</ion-content>
