<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid>
      <ion-row class="">
        <ion-col class="" size="3"
                 *ngFor="let photo of photoService.photos; index as position">
          <ion-img  src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"
                    (click)="showActionSheet(photo, position)"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- ion-fab markup  -->
  </ion-content>

  <app-explore-container name="Gallery"></app-explore-container>
</ion-content>
