<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Camara
        </ion-title>
    </ion-toolbar>
</ion-header>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 2</ion-title>
        </ion-toolbar>
    </ion-header>


<ion-content>
  <h1>Latest Foto's</h1>
  <ion-grid>
        <ion-row class="">
            <ion-col class="" size="3"
                     *ngFor="let photo of photoService.photosLatest; index as position">
                <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}"
                         (click)="showActionSheet(photo, position)"></ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- ion-fab markup  -->

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="photoService.addNewToGallery()">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>


